.additional-card {
  padding-top: 14px;
  padding-bottom: 17px;
}

.additional-card__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $add-header;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}
