.additional-goods {
  width: auto;
  padding: 0 20px;
}

.additional-goods__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $header-color;
  margin: 0;
  padding: 0;
}

.additional-goods__wrapper {
  display: flex;
  flex-direction: column;
}

.additional-goods__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    width: auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    width: auto;
    padding: 0 60px;
  }

  .additional-goods__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-goods__list {
    flex-direction: row;
  }
}
