.additional-characteristic {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $basic-color;
  padding-top: 8px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
