.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $header-color;
  padding: 0;
  margin: 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $secondary-font, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic-color;
}
