.button {
  box-sizing: border-box;
  display: block;
  background-color: $color-details;
  color: $contrast-color;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $details-hover;
  }

  &:active {
    background-color: $details-hover;
    color: rgba($contrast-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
  }
}