.cat-info {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 9px;
}

.cat-info__field {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .cat-info {
    padding-bottom: 52px;
  }

  .cat-info__field {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cat-info {
    width: 580px;
    padding-bottom: 0;
  }

  .cat-info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 196px;
  }

  .cat-info__field:last-child {
    margin-bottom: 0;
  }
}
