.characteristic {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $basic-color;
}

.characteristic__wrapper {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .characteristic {
    font-size: 16px;
  }

  .characteristic__wrapper {
    width: 250px;
    border-bottom: 1px solid rgba($header-color, 0.1);
  }
}