.contact__description {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $header-color;
  margin: 0;
  padding: 0;
}

.contact__adress {
  font-family: $secondary-font, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: $basic-color;
  margin: 0;
  padding: 0;
}
