.contact-form {
  border: none;
  padding: 0;
  margin: 0;
}

.contact-form__title {
  font-size: 24px;
  line-height: 24px;
  color: $header-color;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-form__field {
  margin-bottom: 14px;
}

.contact-form__field:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .contact-form__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 79px;
    padding-bottom: 70px;
  }

  .contact-form__field {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contact-form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact-form__field {
    width: 575px;
    margin: 0;
  }
}
