.example {
  background-color: $bg-color;
  width: auto;
  padding-bottom: 22px;
}

.example__wrapper {
  width: auto;
  padding: 0 20px;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $header-color;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.example__description {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $basic-color;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
	.example__wrapper {
		width: auto;
		padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
	.example__wrapper {
    width: 1220px;
    padding: 0 60px;
    margin: 0 auto;
	}
}