.food-selection__description {
  font-size: 14px;
  line-height: 18px;

  color: $header-color;
  margin: 0;
  padding-top: 0;
  padding-bottom: 35px;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .food-selection__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}
