.head-main {
  position: relative;
  color: $contrast-color;
  min-height: 450px;
  padding-top: 30px;
  padding-bottom: 22px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 305px;
    background-color: $color-details;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.head-main__wrapper {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 139px;
    left: center;
    z-index: 10;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }
  }
}

.head-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.head-main__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0;
}

.head-main__button {
  margin-top: 300px;
}

@media (min-width: $tablet-width) {
  .head-main {
    color: $header-color;
    padding-top: 60px;
    min-height: 758px;

    &::before {
      display: none;
    }
  }

  .head-main__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 450px;
    padding-bottom: 16px;
  }

  .head-main__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-top: 16px;
  }

  .head-main__wrapper {
    &::before {
      top: 180px;
      left: center;
      z-index: -1;
      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-tablet@2x.jpg");
        background-size: 709px auto;
      }
    }
  }

  .head-main__button {
    position: absolute;
    top: 220px;
    left: 30px;
    width: 245px;
    z-index: 100;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .head-main {
    padding-top: 115px;
    padding-left: 80px;
    min-height: 440px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -143px;
      left: 50%;
      z-index: -1;
      width: 760px;
      height: 696px;
      background-color: $color-details;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .head-main__wrapper {
    &::before {
      top: -110px;
      left: 35%;
      z-index: 10;
      width: 552px;
      height: 499px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }

  .head-main__button {
    top: 225px;
    left: 60px;
    margin: 0;
  }
}
