.index-main {
  width: auto;
  margin: 0 auto;
}

.index-main__wrapper {
	width: auto;
	padding: 0 20px;
}

@media (min-width: $tablet-width) {
	.index-main__wrapper {
		width: auto;
		padding: 0 30px;
	}
}
  
@media (min-width: $desktop-width) {
	.index-main__wrapper {
		width: auto;
		padding: 0 60px;
	}
}