.inner-title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $header-color;
  margin: 0;
  width: auto;
  padding: 18px 20px 21px 20px;
}

@media (min-width: $tablet-width) {
  .inner-title   {
    width: auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .inner-title  {
    width: 1220px;
    padding: 0 60px;
  }
}
