.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
  }

  .main-header__logo {
    margin: 0;
  }

  .main-header__main-nav {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 53px;
  }
}
