.main-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-header__logo {
    margin: 0;
  }

  .main-header__main-nav {
    margin: 0;
  }
}
