.page-footer {
  background-color: $bg-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin-left: auto;
  margin-right: auto;
}

.page-footer__social {
  margin-left: auto;
  margin-right: auto;
}

.page-footer__developer {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }
  
  .page-footer__social {
    margin: 0;
  }
  
  .page-footer__developer {
    margin: 0;
  }  
}
