.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  width: auto;
}

.page-footer__logo {
  margin: 0 auto;
}

.page-footer__social {
  margin: 0 auto;
  display: flex;
}

.page-footer__developer {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer  {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 0 30px;
  }
  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__developer {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer  {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 0 60px;
  }
}
