.program-block {
  background-color: $bg-color;
  padding-top: 32px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.program-block__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  color: $header-color;
  padding: 0;
  padding-bottom: 20px;
  padding-left: 90px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-details;
  }

  &--weight-loss::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--weight-gain::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.program-block__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $basic-color;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($header-color, 0.1);
}

.program-block__link {
  display: block;
  color: $header-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 20px;

  &:active {
    color: rgba($header-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .program-block {
    margin-bottom: 30px;
    padding-top: 81px;
    padding-left: 52px;
    padding-right: 285px;
    padding-bottom: 62px;
  }

  .program-block__title {
    font-size: 36px;
    padding-bottom: 10px;
    padding-left: 0;

    &::before {
      top: 0;
      left: 400px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $color-details;
    }

    &--weight-loss::after {
      top: -10px;
      left: 430px;
      width: 141px;
      height: 194px;
    }

    &--weight-gain::after {
      top: 45px;
      left: 360px;
      width: 268px;
      height: 113px;
    }
  }

  .program-block__description {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .program-block__link {
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .program-block {
    width: 462px;
    padding-left: 52px;
    padding-right: 56px;
  }

  .program-block__title {
    padding-bottom: 65px;
    padding-left: 164px;

    &::before {
      top: -30px;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $color-details;
    }

    &--weight-loss::after {
      top: -40px;
      left: 15px;
      width: 71px;
      height: 97px;
    }

    &--weight-gain::after {
      top: -5px;
      left: -20px;
      width: 134px;
      height: 57px;
    }
  }

  .program-block__link {
    padding-top: 12px;
  }
}
