.promo {
  color: $contrast-color;
  background-color: $color-details;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    width: auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 245px;
    min-height: 289px;
  }
}
