.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid $bg-color;
}

.site-list__link {
  color: $header-color;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $color-details;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 438px;
  }

  .site-list__item {
    border-bottom: none;
    padding-top: 19px;
  }

  .site-list__link {
    color: $header-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list__link {
    font-size: 20px;
    /*поменять цвет*/
  }
}
