.site-list {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-list__link {
  color: $header-color;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $color-details;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap; 
  }
}
