.text-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-field__label {
  font-size: 16px;
  line-height: 18px;
  color: $add-header;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 15px;
}

.text-field__input {
  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-color;
  border: 1px solid rgba($border-form, 0.5);

  &:focus,
  &:hover {
    border: 1px solid rgba($border-form, 1);
  }

  &:active {
    border: 1px solid $basic-color;
  }
}
