.сard-product {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.сard-product__image {
  position: absolute;
  top: 0;
  left: 0;
}

.сard-product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $header-color;
  margin: 0;
  padding: 0;
  padding-left: 140px;
  width: 80px;
  padding-bottom: 7px;
}

.сard-product__characteristic {
  padding-left: 140px;
  padding-top: 7px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .сard-product {
    width: 265px;
    background-color: $bg-color;
    padding-top: 125px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
  }
  
  .сard-product__image {
    top: -40px;
    left: 50%;
  }

  .сard-product__title {
    margin: auto;
    padding: 0;
  }
  
  .сard-product__characteristic {
    padding: 0;

  }
}

@media (min-width: $desktop-width) {
  .сard-product {
    width: 245px;
    background-color: $bg-color;
  }
}
