.сard-product {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.сard-product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $header-color;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .сard-product {
    width: 325px;
    background-color: $bg-color;
  }
}

@media (min-width: $desktop-width) {
  .сard-product {
    width: 245px;
    background-color: $bg-color;
  }
}
