/*Цвета*/
$bronze-black: #111111;
$midnight-gray: #444444;
$gray: #cdcdcd;
$dark-grey: #222222;
$light-gray: #f2f2f2;
$very_light-gray: #ededed;
$green: #68b738;
$green-hover: #5eaa2f;
$white: #ffffff;

$basic-color: $midnight-gray;
$contrast-color: $white;
$header-color: $bronze-black;
$add-header: $dark-grey;
$color-details: $green;
$details-hover: $green-hover;
$bg-color: $light-gray;
$border-color: $very_light-gray;
$border-form: $gray;

/*Шрифты*/
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;

/*Ширина viewport*/
$tablet-width: 768px;
$desktop-width: 1340px;
$mobile-width-only: 767px;

/*Ретина*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
