/*Цвета*/
$bronze-black: #111111;
$midnight-gray: #444444;
$gray: #cdcdcd;
$light-gray: #f2f2f2;
$green: #68b738;

$basic-color: $midnight-gray;
$header-color: $bronze-black;
$color-details: $green;
$bg-color: $light-gray;
